.registration{
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 30px;
  align-self: center;
  margin-top: 100px;
}
.registration__header{
  font-size: 30px;
  font-weight: 700;
}
.registration input{
  margin: 10px 20px;
  font-size: 14px;
}
.registration__btn{
  border: none;
  color: #fff;
  background-color: #566885;
  font-size: 18px;
  padding: 3px 15px;
  border-radius: 10px;
  margin-top: 10px;
  align-self: flex-end;
}